happytransformer==2.4.1
huggingface_hub==0.15.1
huggingface_hub==0.16.4
pandas==1.5.3
plotly==5.9.0
pycaret==3.0.4
streamlit==1.25.0
streamlit_pandas_profiling==0.1.3
transformers==4.29.2
ydata_profiling==4.3.1
